/*{
  margin: 0;
}

html, body{
  height: 100%;
  overflow-x:hidden;
  background-color: rgb(248,248,248) ;
}


.locationTables{
    clear:both;
    min-width: 220px;
    margin: auto;
}


.locationWords{
  clear:both;
  margin: 0px auto;
  height: 100%;

}

.allLanguages{
  clear:both;
  margin: 0px auto;
  height: 100%;
}

.locationButtons{


}


.locationsTable{
  clear:both;
  margin: 0px auto;
  height: 100%;

}

.logo{
  box-shadow: 10px 10px 5px #888888;
  background: blue;
  height: 20px;
  width: 100%;

}

.colorLine{
  background-color: red;
  height:30px;
  box-shadow: 10px 10px 5px #888888;
}

.picture{
  background-color: green;
  height:40px;
  box-shadow: 10px 10px 5px #888888;
}

.box{
  margin-top: 50px
}





.link-to{


}

.languageLinksHomePage{

}








#first{
  background-color: white:


}

.hide{
  background-color: white

}

.show{
  background-color: white;
}

.spanish{
  background-image:url("images/brazil.png");
  height:100px;
}




.panel-heading.one{
  background: red;
  <!--changes the header-->
}



.main-panel{

background-color: rgb(252,235,182);
*/

.page-header h2{
  color: blue;
}

.panel-default{
  background-color: transparent;
  border-radius: 0px;
  width: 80%;
  length: 80px;
  margin-left:40px;
}

.panel-default p{
  padding-left: 70px;
  padding-right: 50px;
  padding-top: 10px;
}

.panelLanguage1{
  width: 50%;
  height: 195px;
  background-color: transparent;
  margin-left:  25%;
  border-radius: 25px;
  margin-bottom: 10%;
  margin-top: 40px;

}

.panelLanguage2{
  width: 50%;
  height: 200px;
  margin-left:  25%;
  background-color: red;
  border-radius: 25px;

}

.panelLanguage1 .picture{
margin-left: 40px;


}
