

html, body{



}
.mainPage{
  width: 100%;
  height: 45px;
  margin-top: 200px;
}


.go{
  outline: none;
  width: 50%;
  height: 97.5px;
  background-color:white;
  margin-left:  25%;
  border-radius: 100px;
  margin-bottom: 10%;
  margin-top: 300px;
  border-color: rgb(120,192,168);
  text-shadow:none !important;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 40px;
  color: rgb(120,192,168);
  border-style: solid;

}

.aprender{
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-left: 20%;
  font-size: 50px;
  color:rgb( 120,192,168);
}


.band{
  width: 100%;
  background-color: rgb( 120,192,168);
  height: 45px;
  margin-bottom: 45px;
}

.chooseLocation{
  margin-left:130px;
  padding-top: 15px;
  font-family:"Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
}




.explore{
  margin-left:160px;
  padding-top: 15px;
  font-family:"Comic Sans MS", cursive, sans-serif;
  font-size: 25px;
}


.page-header {
  text-align: center;
  color:rgb( 120,192,168);
  margin-bottom:0px;
}

.page-header h1{
  color: rgb( 120,192,168);
  margin-left: 15px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 30px;

}


.panel-default{
  background-color:rgb( 120,192,168);
  border-radius: 0px;
  width: 60%;
  length: 60px;
  margin-left:90px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 1px 1px #ccc;

}

.panel-default p{

  padding-left: 90px;
  padding-right: 50px;
  padding-top: 10px;
}

.panelLanguage1{
  outline: none;
  width: 50%;
  height: 195px;
  background-color:rgb(120,192,168);
  margin-left:  25%;
  border-radius: 25px;
  margin-bottom: 10%;
  margin-top: 40px;
  border-color: blue;
  text-shadow:none !important;
  border-color: transparent;
  box-shadow: 1px 1px 1px 1px #ccc;

}

.panelLanguage2{
  width: 50%;
  height: 200px;
  margin-left:  25%;
  background-color:rgb(120,192,168);
  border-radius: 25px;
  outline: none;
  border-color: transparent;
  box-shadow: 1px 1px 1px 1px #ccc;

}


.buttonPortugueseLocations{
  width: 75%;
  height: 80px;
  margin-left:  15%;
  background-color: rgb(120,192,168);
  border-radius: 25px;
  outline: none;
  border-color: blue;
  margin-bottom: 40px;
  clear:both;
  border-color: transparent;
  box-shadow: 1px 1px 1px 1px #ccc;
}


.primarylanguage{
  clear:both;
  border-radius: 25px;
  width: 40%;
  height: 70px;
  margin-left:  10%;
  background-color: rgb(240,168,48);
  outline: none;
  border-color: transparent;
  margin-bottom: 2px;
  float:left;
    box-shadow: 1px 1px 1px 1px #ccc;

}

.translation{
  clear: both;
  border-radius: 25px;
  width: 40%;
  height: 70px;
  margin-left:  10%;
  background-color: rgb(120,192,168);
  outline: none;
  border-color: transparent;
  margin-bottom: 2px;
  float: left;
  box-shadow: 1px 1px 1px 1px #ccc;

}

.sound{
  width: 40%;
  height: 70px;
  margin-right:  5%;
  background-color: rgb(120,192,168);
  outline: none;
  border-color: transparent;
  float: right;
  margin-top: 0px;
  margin-bottom: 50px;
  border-radius: 25px;
  box-shadow: 1px 1px 1px 1px #ccc;
}
.navButton{
  background-color: transparent;
  float: right;
  border-color: transparent;
  outline: none;
  margin-right: 50px;
  margin-top: -30px

}

.navButton2{
  background-color: transparent;
  float: right;
  border-color: transparent;
  outline: none;
  float:right;
  margin-right: -57px;

}






.words{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px
}

.glyphicon-play-circle{
  font-size: 20px;
}
