
html, body{
  height: 100%;
  width: 100%;
  padding:0% 0% 0% 0%;
}



.band{
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: rgb( 120,192,168);
  height: 10vh;
  margin-top: 0px;
  overflow:hidden;
  /*
  */
}
.container{
  width:100%;
  padding:0% 0% 0% 0%;

}
.mainPage{
  width: 100%;
  height: 45px;
  margin-top: 200px;
}

.home{
  float: right;
  margin-right: 25px;
}

.back{
  float: right;
  padding-right: 20px;
}

.go{

 outline: none;
  width: 20%;
  height: 97.5px;
  background-color:white;
  margin-left:  36%;
  border-radius: 100px;
  margin-bottom: 10%;
  margin-top: 30px;
  border-color: rgb(120,192,168);
  text-shadow:none !important;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 40px;
  color: rgb(120,192,168);
  border-style: solid;

}



.aprender{
  overflow:hidden;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color:rgb( 120,192,168);
  font-size: 50px;
  margin-bottom: 50px;
  margin-top: 20px;
  margin-left: 0px;
  display:inline-block;
  /*
  */
}




.chooseSomthing{
  clear:both;
  font-family:"Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  position: relative;
  margin-left: 10px;
  color:white;


  /*
  font-size: 20px;
  */
}



.explore{
  /*
  margin-left:160px;
  padding-top: 15px;
  font-family:"Comic Sans MS", cursive, sans-serif;
  font-size: 25px;
  */
}


.page-header {
  margin-bottom:-10px;
  margin: auto;
  width: 100%;
  /*
  text-align: center;
  color:rgb( 120,192,168);
  */
}

.page-header h1{
  /*
  color: rgb( 120,192,168);
  margin-left: 15px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 30px;
  */

}


.panel-default{
  /*
  background-color:rgb( 120,192,168);
  border-radius: 0px;
  width: 60%;
  length: 60px;
  margin-left:90px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 1px 1px #ccc;
  */

}

.panel-default p{
  /*

  padding-left: 90px;
  padding-right: 50px;
  padding-top: 10px;
  */
}

.panelLanguage1{

  outline: none;
  width: 20%;
  height: 200px;
  background-color:rgb(120,192,168);
  margin-left:  40%;
  border-radius: 25px;
  margin-bottom: 5%;
  margin-top: 40px;
  border-color: blue;
  text-shadow:none !important;
  border-color: transparent;
  box-shadow: 1px 1px 1px 1px #ccc;
  overflow:hidden;


}

.panelLanguage2{

  width: 20%;
  height: 200px;
  margin-left:  40%;
  background-color:rgb(120,192,168);
  border-radius: 25px;
  outline: none;
  border-color: transparent;
  box-shadow: 1px 1px 1px 1px #ccc;
  overflow:hidden;


}


.buttonLanguagesLocations{

  width: 20%;
  height: 80px;
  margin-left:  35%;
  background-color: rgb(120,192,168);
  border-radius: 25px;
  outline: none;
  border-color: blue;
  margin-top: 40px;
  clear:both;
  border-color: transparent;
  box-shadow: 1px 1px 1px 1px #ccc;
  float:left;

}


.primarylanguage{
  margin-top: 15px;

  clear:both;
  border-radius: 25px;
  width: 20%;
  height: 70px;
  margin-left:  20%;
  background-color: rgb(240,168,48);
  outline: none;
  border-color: transparent;
  margin-bottom: 2px;
  float:left;
  box-shadow: 1px 1px 1px 1px #ccc;

}

.translation{

  clear: both;
  border-radius: 25px;
  width: 20%;
  height: 70px;
  margin-left:  20%;
  margin-top: 15px;
  background-color: rgb(120,192,168);
  outline: none;
  border-color: transparent;
  margin-bottom: 2px;
  float: left;
  box-shadow: 1px 1px 1px 1px #ccc;
}

.sound{

  width: 20%;
  height: 70px;
  margin-right:  30%;
  background-color: rgb(120,192,168);
  outline: none;
  border-color: transparent;
  float: right;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 25px;
  box-shadow: 1px 1px 1px 1px #ccc;

}
.navButton{

  background-color: transparent;
  border-color: transparent;
  outline:none;
  margin-left: 80%;
  margin-bottom: 0px;
  padding-top: -15px;
  clear:both;

}

.navButton2{
  background-color: transparent;
  outline:none;
  border-color: transparent;
  clear:both;

}

.navWords{
  color: rgb(120,192,168);
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 30px;

}


.footer{
  clear:both;

}






.words{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  color:white;
  padding:-20px;
  /*
  */
}

.glyphicon-play-circle{
  /*
  font-size: 20px;
  */
}
