<div class="wrap">


 <nav class="navbar navbar-custom navbar-fixed-top">

   <div class="container">

     <div class="navbar-header">

       <a id="logo" class="navbar-brand" href="/">Aprender</a>

     </div>
     <div id="navbar">
       <ul class="nav navbar-nav navbar-right">

         <ul id="drop-nav">
   <li><a href="#">Support</a></li>
   <li><a href="#">Web Design</a>
     <ul>
       <li><a href="#">HTML</a></li>
       <li><a href="#">CSS</a></li>
       <li><a href="#">JavaScript</a></li>
     </ul>
   </li>
   <li><a href="#">Content Management</a>
     <ul>
       <li><a href="#">Joomla</a></li>
       <li><a href="#">Drupal</a></li>
       <li><a href="#">WordPress</a></li>
       <li><a href="#">Concrete 5</a></li>
     </ul>
   </li>
   <li><a href="#">Contact</a>
     <ul>
       <li><a href="#">General Inquiries</a></li>
       <li><a href="#">Ask me a Question</a></li>
     </ul>
   </li>
 </ul>
           </ul>
     </div>
   </div>

 </nav>



 <!-- <div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div> -->


 <div class="jumbotron"></div>


</div>

<div>
  {{outlet}}
</div>

<footer class="footer">
  &copy;2016 RAW HONEY Inc.
</footer>
