<!-- {{outlet}}

<div class="mainMainpage">
  <div class="band">
    <p class="chooseSomthing">

    </p>
  </div>



<<<<<<< HEAD

</div> -->


<div class="mainPage">
  <button class="go" {{action "home"}} > GO </button>

=======
>>>>>>> parent of bdeb375... commiting changes
</div>
