{{outlet}}

<div class="mainMainpage">
  <div class="band">
    <p class="chooseSomthing">

    </p>
  </div>

<div class="mainPage">
  <button class="go" {{action "home"}} > GO </button>

</div>



</div>
