{{outlet}}

<h1>Locations portuguese </h1>

{{#each model.data as |lang|}}
<button class="portugueseButtonsAllLocations"{{action "getName" lang.id  }}>{{lang.attributes.name}}</button>
{{/each}}



<!---<button{{action "getName" lang.id  }}></button>--->
