{{outlet}}
<!--This panel is for the main background-->
<div class="panel main-panel">

<!--this panel is for the header-->
  <div class="panel panel-default">
    <div class="panel-heading image">Photo</div>
    <div class="panel-body">
      Choose a Language!
    </div>
  </div>

<!--This panel is for the langauge portuguese-->

<div class="panel panel-default">
  <div class="panel-body">
    should be a photo or color
  </div>
  <div class="panel-footer">{{#link-to "language-locations1"}}Portuguese{{/link-to}}</div>
</div>


<!--This panel is for the langauge spanish-->

<div class="panel panel-default">
  <div class="panel-body">
    should be a photo or color
  </div>
  <div class="panel-footer">{{#link-to "language-locations2"}}Spanish{{/link-to}}</div>
</div>


</div>



<!---
<h2>Ember.js Beats</h2>

<button onclick={{action 'play' 'car'}}>Play Clap</button> -->



<!--main panel class-->
