{{outlet}}




<table class="locationTables">
<h2>language-locationS1 </h2>
      {{#each model.data as |lang|}}
      <table class="locationsTable">
        <button class="locationButtons"{{action "getName" lang.id  }}>{{lang.attributes.name}}</button>
      </table>
      {{/each}}
</table>
