{{outlet}}

<div class="page-header">
  <h1>Aprender <small></small></h1>
</div>


<!--This panel is for the main background-->


<!--this panel is for the header-->
  <div class="panel panel-default">
    <p>
      Choose your language!
    </p>
  </div>

<!--This panel is for the langauge portuguese-->


  <div class="panel-body panelLanguage1">

    <div class="picture">
      <img src={{"brazil.png"}} alt="Logo">
    </div>
    {{#link-to "language-locations1"}}Portuguese{{/link-to}}

  </div>



<!--This panel is for the langauge spanish-->

    <div class="panel-body panelLanguage2">
      {{#link-to "language-locations2"}}Spanish{{/link-to}}
    </div>




<!---
<h2>Ember.js Beats</h2>

<button onclick={{action 'play' 'car'}}>Play Clap</button> -->



<!--main panel class-->
