{{outlet}}
<h2 class="locationsPortugueseHeader">Locations portuguese </h2>
  <table class="lcationsPortugueseTable">
      {{#each model.data as |lang|}}
        <button class="portugueseButtonsAllLocations"{{action "getName" lang.id  }}>{{lang.attributes.name}}</button>
      {{/each}}
  </table>
