{{outlet}}
<h2>Choose an langauge!</h2>

<div class="locationsTable">
  <table>

  <ul class="link-to">
    <button class="myButton"><li>{{#link-to "language-locations1"}}Portuguese{{/link-to}}</li>  </button>
    <li>{{#link-to "language-locations2"}}Spanish   {{/link-to}}</li>
  </ul>
</table>
</div>
